<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Canvas</title>
  <script src="assets/javascripts/lib/jquery-2.1.1.min.js"></script>
  <script src="assets/javascripts/lib/underscore.min.js"></script>
</head>

<body>
  <div class="container">
   <h1>Canvas</h1>
   <p><i>A Trello Board for Creatives</i>
   
   <div class="row"> 
     <h2>Canvas</h2>
      <%= form_for @canva do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %> <br>
      <%= f.label :description %>
      <%= f.text_area :description %><br>
      <%= f.label :collaborators %>
      <%= f.text_field :collaborators %><br>
      <%= f.label :budet %>
      <%= f.text_field :budget %><br>
      <%= f.label :timeline %>
      <%= f.text_field :timeline %><br>
      <%= f.submit "(+) Create Canvas" %>
      <% end %>
    </div>

    <div class="row"> 
    <h2>Task</h2>
    <%= form_for @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <%= f.submit "(+) Create Canvas" %>
    <% end %>
    </div>

  </div><!-- #wrapper -->
</body>
</html>
