<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Canvas</title>
</head>

<body>
  <div class="container">
   <h1>Canvas</h1>
   <p><i>A Trello Board for Creatives</i>
   
   <div class="canvas_form"> 
     <h2>Canvas</h2>
      <%= form_for(@canva, url: canvas_path, html:{method: :post})do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "ex. Jeff Koons Sculpture" %> <br>
      <%= f.label :description %>
      <%= f.text_area :description %><br>
      <%= f.label :collaborators %>
      <%= f.text_field :collaborators %><br>
      <%= f.label :budet %>
      <%= f.text_field :budget %><br>
      <%= f.label :timeline %>
      <%= f.text_field :timeline %><br>
      <%= f.submit id:"canva_submit", value:"(+) Create Canvas" %>
      <% end %>
    </div>
    <div class="canvas">

    <!-- where you will render new canvas-->
    </div>

    <div class="tasks_form"> 
    <h2>New Task</h2>
    <%= form_for @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :description %>
    <%= f.text_area :description %><br>
    <%= f.submit %>
    <% end %>
  </div><!-- #wrapper -->
</body>
</html>
